* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    /* font-family: "Inter", serif; */
}

/* Nav area styles starts */
.nav-area {
    width: 85%;
    height: 80px;
    margin: 30px auto;
}
.navbar-1 {
    display: none;
}
.navbar-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nam-link {
    text-decoration: none;
    margin-left: 25px;
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
}
.nav-name{
    color: rgb(58, 58, 58);
    font-size: 24px;
    font-weight: 700;
    transition: 0.4s;
}
.nav-name:hover {
    transform: scale(1.5);
}


/* Responsive Design */
@media screen and (max-width: 576px) {
    .navbar-1 {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-2 {
        display: none;
    }
}